<h1>Dashboard Page</h1>
<div>

    {{!-- Showing the user each of their blogposts after they are logged in --}}
    <div>
      <h1>Hello, {{session.name}}!</h1>
        <h3>Your Blogposts:</h3>

        {{#each userArray}}

        <h1> {{title}} </h1>
        <p> {{description}} </p>

        {{/each}}

    </div>
</div>

{{!-- Section for the user to add a new blogpost --}}
{{!-- <h1>Add a new post below:</h1>
<div class="newPost">

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="project-name">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="project-name" />
      </div>

      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="project-desc"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary newBlogButton">Create</button>
      </div>
    </form>
</div> --}}