:root {
    /* color paletts */
}

* {
    border: .1px solid black;
}


header, footer {
    background-color: olive;
}


/* ----- Main ----- */
.nav-links {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.nav-item {
    margin: 2px;
    padding: 5px 15px;
}

/* ----- Blogposts ----- */
.blogpost {
    display: flex;
    flex-direction: column;
}
.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .titleAndEdit {
    display: flex;
    justify-content: space-between;
} */

.edit-btn {
    padding: 0px 5px;
}

footer {
    bottom: 0px;
}
